hr {
    display: $hr-display;
    width: $hr-width-size;
    height: $hr-height-size;
    @include margin-shorthand-with-screens-support((
        top: $hr-margin-top, 
        bottom: $hr-margin-bottom, 
        left: $hr-margin-left, 
        right: $hr-margin-right
    ), $hr-margin-for-screens);
    @include border-shorthand(map-merge((
        border: (
            width: $hr-border-width,
            style: $hr-border-style,
            color: $hr-border-color,
            make-shorthand: true
        )), $hr-borders));
    padding: 0;
    @include background-shorthand((
        image: $hr-background-image,
        position: $hr-background-position,
        repeat: $hr-background-repeat,
        color: $hr-background-color,
        attachment: $hr-background-attachment,
        make-shorthand: true
    ));
    @include box-sizing($hr-box-sizing);
    @if mixin-exists(hr-extra-style) {
        @include hr-extra-style();
    }
}
