$hr-display: block !default;

//Size
$hr-width-size: 100% !default;
$hr-height-size: 1px !default;

//Margins
$hr-margin-top: $elements-margin-top !default;
$hr-margin-bottom: $elements-margin-bottom !default;
$hr-margin-left: $elements-margin-left !default;
$hr-margin-right: $elements-margin-right !default;
$hr-margin-for-screens: $elements-margin-for-screens !default;

//Borders
$hr-border-width: 0 !default;
$hr-border-style: null !default;
$hr-border-color: null !default;
$hr-borders: () !default;

//Background
$hr-background-image: null !default;
$hr-background-position: null !default;
$hr-background-repeat: null !default;
$hr-background-color: $document-color !default;
$hr-background-attachment: null !default;

//Box Sizing
$hr-box-sizing: content-box !default;

//Extra style
@mixin hr-extra-style() {}