@mixin include-hr-colors($colors-map) {
    @if map-has-key($colors-map, background-color) and map-get($colors-map, background-color) {
        background-color: map-get($colors-map, background-color);
    }
}

@mixin hr-colors($colors-map) {
    hr {
        @include include-hr-colors($colors-map);
    }
}

@mixin class-hr-colors($class, $colors-map) {
    hr.#{$class} {
        @include include-hr-colors($colors-map);
    }
}
